{% extends 'base.html.twig' %}

{% block title %}Nous joindre{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/site.css') }}">
{% endblock %}

{% block body %}
	<main class="text">
		<div class="container">
			<h1>Nous joindre</h1>

			<p>Merci de nous contacter. Nous sommes là pour répondre à vos questions et vous assister de toutes les manières possibles.</p>

			<h2>Informations de Contact</h2>

			<h3>Email</h3>
			<p><a href="mailto:info@trouvetonchalet.ca">info@trouvetonchalet.ca</a></p>
		</div>
	</main>
{% endblock %}
