{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/site.css') }}">
{% endblock %}

{% block body %}
	<main class="text">
		<div class="container">
			<h1>Politique de confidentialité de TrouveTonChalet.ca</h1>
			<p>Date de la dernière mise à jour: 26 novembre 2023</p>

			<h2>Introduction</h2>
			<p>Bienvenue sur TrouveTonChalet.ca. Cette politique de confidentialité explique comment nous traitons les informations lorsque vous utilisez notre application.</p>

			<h2>Informations Collectées</h2>
			<p>Notre application ne collecte aucune information personnelle des visiteurs. Nous respectons votre vie privée et nous n'effectuons donc aucune collecte de données.</p>

			<h2>Utilisation des Informations</h2>
			<p>Étant donné que nous ne collectons aucune information personnelle, aucune utilisation n'est faite de ces informations.</p>

			<h2>Base Légale du Traitement</h2>
			<p>Étant donné que nous ne collectons aucune information personnelle, aucune base légale n'est applicable.</p>

			<h2>Partage des Informations</h2>
			<p>Étant donné que nous ne collectons aucune information personnelle, aucune information n'est partagée avec des tiers.</p>

			<h2>Mesures de Sécurité</h2>
			<p>Étant donné que nous ne collectons aucune information personnelle, aucune mesure de sécurité particulière n'est applicable.</p>

			<h2>Période de Conservation</h2>
			<p>Étant donné que nous ne collectons aucune information personnelle, aucune période de conservation n'est applicable.</p>

			<h2>Droits de l'Utilisateur</h2>
			<p>Étant donné que nous ne collectons aucune information personnelle, aucun droit d'accès, de rectification ou de suppression n'est applicable.</p>

			<h2>Cookies et Suivi</h2>
			<p>Notre application n'utilise pas de cookies non essentiels.</p>
			<p>Les services ci-dessous sont utilisés afin d'améliorer l'expérience des visiteurs, mais n'utilise aucuns cookies et ne recueillent pas d'information personnelles:</p>

			<h3>Plausible Analytics</h3>
			<p>Plausible Analytics est un outil d'analyse web respectueux de la vie privée..</p>
			<p>Pour plus d'informations sur le type d'informations collectées par Plausible Analytics, veuillez consulter leur page de Politique de confidentialité : <a href="https://plausible.io/privacy" target="_blank">https://plausible.io/privacy</a>.</p>

			<h3>Sentry</h3>
			<p>Sentry est un outil de surveillance des performances d'application et de suivi des erreurs.</p>
			<p>Nous utilisons Sentry pour surveiller, suivre et aider à déboguer les problèmes techniques rencontrés par les utilisateurs au sein de nos applications.</p>
			<p>Pour plus d'informations sur le type d'informations collectées par Sentry, veuillez consulter leur page de Politique de confidentialité : <a href="https://sentry.io/privacy/" target="_blank">https://sentry.io/privacy/</a>.</p>

			<h2>Mise à Jour de la Politique de Confidentialité</h2>
			<p>La présente politique de confidentialité peut être mise à jour. La date de la dernière mise à jour sera toujours indiquée.</p>

			<h2>Responsable de la Confidentialité</h2>
			<p>Pour toute préoccupation liée à la confidentialité, veuillez contacter Émile Perron à l'adresse électronique suivante : <a href="mailto:info@trouvetonchalet.ca">info@trouvetonchalet.ca</a>.</p>

			<h2>Adresse de TrouveTonChalet.ca</h2>
			<p>L'application TrouveTonChalet.ca est créée et opérée par Émile Perron, au 109, chemin du Quai-Lindsay, Saint-Gédéon, QC G0W 2P0, Canada.</p>
		</div>
	</main>
{% endblock %}
