{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
	<main class="text">
		<div class="container">
			<h1>Conditions d'utilisation de TrouveTonChalet.ca</h1>
			<p>Date de la dernière mise à jour: 17 novembre 2023</p>

			<p>En utilisant l'application TrouveTonChalet.ca, vous acceptez les conditions d'utilisation énoncées ci-dessous. Veuillez les lire attentivement avant d'utiliser notre service.</p>

			<h2>1. Utilisation du Service</h2>
			<p>Vous acceptez d'utiliser le service uniquement à des fins légales et conformément à ces conditions d'utilisation.</p>

			<h2>2. Nature du Service</h2>
			<p>TrouveTonChalet.ca est un moteur de recherche qui agrège des informations sur les chalets à louer. Les informations fournies peuvent parfois être inexactes, et nous ne pouvons garantir la précision ou l'exhaustivité des résultats.</p>

			<h2>3. Propriété Intellectuelle</h2>
			<p>La liste de chalets et le contenu qui s'y rattache, y compris les textes, images, logos, et autres éléments, est collecté à partir de sites Internet indexés par notre moteur de recherche. Ces éléments ne sont pas la propriété de TrouveTonChalet.ca, et nous ne revendiquons aucun droit de propriété intellectuelle sur eux.</p>
			<p>Tout le reste du contenu de l'application, y compris les textes, images, logos, et autres éléments, est la propriété exclusive de TrouveTonChalet.ca. Vous vous engagez à ne pas copier, reproduire ou distribuer ces éléments sans autorisation.</p>

			<h2>4. Responsabilité</h2>
			<p>Nous nous efforçons de fournir des informations exactes, mais en raison de la nature de notre service en tant que moteur de recherche, certaines données peuvent être inexactes. Nous ne sommes pas responsables des dommages directs, indirects, spéciaux, ou consécutifs résultant de l'utilisation de notre service.</p>

			<h2>5. Sources de l'Information</h2>
			<p>Les images et le contenu présentés sur TrouveTonChalet.ca sont collectés à partir de sites Internet indexés par notre moteur de recherche. Nous ne pouvons garantir la propriété ou l'exactitude de ces éléments.</p>

			<h2>6. Résiliation</h2>
			<p>Nous nous réservons le droit de résilier votre accès au service en cas de violation de ces conditions d'utilisation ou pour toute autre raison discrétionnaire.</p>

			<h2>7. Modifications des Conditions</h2>
			<p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur l'application.</p>

			<h2>8. Contact</h2>
			<p>Pour toute question ou préoccupation concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse suivante : <a href="mailto:contact@emileperron.com">contact@emileperron.com</a>.</p>
		</div>
	</main>
{% endblock %}
