:root,
::backdrop {
	--font-family: 'Plus Jakarta Sans', sans-serif;
	--font-family-fancy: 'Urbanist', 'Plus Jakarta Sans', sans-serif;

	--color-primary: #3a614a;
	--color-primary-050: #eff5f2;
	--color-primary-100: #cfe2d7;
	--color-primary-200: #afcfbc;
	--color-primary-300: #8fbca2;
	--color-primary-400: #6fa987;
	--color-primary-500: #56906e;
	--color-primary-600: #437055;
	--color-primary-700: #30503d;
	--color-primary-800: #1d3025;
	--color-primary-900: #0a100c;
	--color-gray-100: #f5f5f5;
	--color-gray-200: #d9d9d9;
	--color-gray-300: #bfbfbf;
	--color-gray-400: #a6a6a6;
	--color-gray-500: #8c8c8c;
	--color-gray-600: #737373;
	--color-gray-700: #595959;
	--color-gray-800: #404040;
	--color-gray-900: #262626;
	--color-danger-100: #fdeae8;
	--color-danger-200: #f9bfb9;
	--color-danger-300: #f4958a;
	--color-danger-400: #f06b5c;
	--color-danger-500: #ec402d;
	--color-danger-600: #d22713;
	--color-danger-700: #a31e0f;
	--color-danger-800: #75150b;
	--color-danger-900: #460d06;
	--color-warning-100: #fdf9e7;
	--color-warning-200: #f9edb8;
	--color-warning-300: #f5e189;
	--color-warning-400: #f1d65a;
	--color-warning-500: #eeca2b;
	--color-warning-600: #d4b011;
	--color-warning-700: #a5890e;
	--color-warning-800: #76620a;
	--color-warning-900: #473b06;
	--color-success-100: #e8fdf0;
	--color-success-200: #b9f9d2;
	--color-success-300: #8af4b5;
	--color-success-400: #5cf097;
	--color-success-500: #2dec79;
	--color-success-600: #13d25f;
	--color-success-700: #0fa34a;
	--color-success-800: #0b7535;
	--color-success-900: #064620;
	--outline-focus-ring: 4px solid var(--color-primary-500);
	--outline-focus-ring-offset: 2px;

	--container-width: calc(100vw - 10rem);
	--content-container-width: 60rem;
}

@media (max-width: 1080px) {
	:root,
	::backdrop {
		--container-width: calc(100vw - 4rem);
	}
}

@media (max-width: 767px) {
	:root,
	::backdrop {
		--container-width: calc(100vw - 2rem);
	}
}

html,
body {
	font-family: var(--font-family);
	font-size: 16px;
	color: var(--color-primary-900);
	background-color: #fff;
}

.container {
	width: var(--container-width);
	max-width: 100%;
	margin: auto;
}

.text-danger {
	color: var(--color-danger-700);
}

.text-warning {
	color: var(--color-warning-700);
}

.text-success {
	color: var(--color-success-700);
}

select { display: block; padding: .5rem; font-size: .9rem; font-weight: 600; background-color: white; border: 1px solid var(--color-gray-200); border-radius: .25rem; }
select:hover { color: var(--color-primary-600); border-color: var(--color-primary-300); transition: all .15s ease; }

/* Provide default sizes and feel for components that haven't been loaded / initialized yet. */
listing-search-experience { display: block; min-height: min(70vh, 60rem); margin-bottom: 2rem; }
listing-filters { min-height: 1rem; }
listing-list { min-height: 60rem; }
listing-map { width: 100%; height: 70vh; }
