button, .button { --button-color: var(--color-gray-200); --button-text-color: var(--color-gray-900); display: inline-flex; align-items: center; gap: 1ch; padding: 0.75em 1.25em; font-family: var(--font-family-fancy); font-size: .9rem; font-weight: 600; text-decoration: none; color: var(--button-text-color); background-color: white; border: 1px solid var(--button-color); border-radius: 0.5em; cursor: pointer; position: relative; transition: all .15s ease; }
button:is(:hover),
.button:is(:hover) { --button-color: var(--color-gray-100); background-color: var(--button-color); }

button.dark, .button.dark { --button-color: var(--color-primary-800); }
button.primary, .button.primary { --button-color: var(--color-primary-600); --button-text-color: #fff; background-color: var(--button-color); }
button.primary:hover, .button.primary:hover { --button-color: var(--color-primary-700); }

button.fullwidth,
.button.fullwidth { width: 100%; justify-content: center; }

button[aria-selected="true"],
button[aria-current="true"] { --button-color: var(--color-primary-100); background-color: var(--button-color); pointer-events: none; }

button[disabled] { --button-color: var(--color-gray-100); --button-text-color: var(--color-gray-200); pointer-events: none; }

:is(button, .button) .tooltip { display: inline-block; padding: .5ch 1ch; font-size: .8rem; color: #fff; white-space: nowrap; background-color: var(--color-gray-900); border-radius: .5rem; position: absolute; bottom: 2.75rem; left: 50%; translate: -50%; opacity: 0; pointer-events: none; transition: opacity .2s ease-in-out; }
:is(button:hover, .button:hover, button:focus-visible, .button:focus-visible) .tooltip { opacity: 1; pointer-events: inherit; }
/* Bridge the gap to make the tooltip hoverable without dismissal, as recommended in accessibility specs */
:is(button:hover, .button:hover, button:focus-visible, .button:focus-visible) .tooltip::before { content: ' '; width: 100%; height: .75rem; position: absolute; top: 100%; left: 0; }
