{% extends 'admin/base.html.twig' %}

{% block title %}Crawling{% endblock %}

{% block stylesheets %}
    <style>
        main a { display: inline-block; background: var(--color-primary); color: white; padding: 1rem; margin: 3rem; text-decoration: none; font-weight: 600; }
        main a:hover { background-color: var(--color-primary-700); }
    </style>
{% endblock %}

{% block body %}
    <main style="text-align:center">
        <a href="{{ path('admin_crawling_request_all_sites') }}">Request crawling for all sites</a>
    </main>
{% endblock %}
