{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
	<script type="module" src="{{ asset('js/component/listing-search-bar.js') }}"></script>

	<div class="container">
		<listing-search-bar></listing-search-bar>

		{% include 'parts/results_tabs.html.twig' %}
	</div>

	<div class="container">
		{% include 'parts/regions_slider.html.twig' %}
	</div>
{% endblock %}
