{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block stylesheets %}
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
{% endblock %}

{% block body %}
	<script type="module" src="{{ asset('js/component/listing-search-experience.js') }}"></script>

	<div class="container">
		<listing-search-experience></listing-search-experience>
	</div>

	<div class="container">
		{% include 'parts/regions_slider.html.twig' %}
	</div>
{% endblock %}
