<div class="slider regions">
	{% for region in regions(true) %}
		<div class="region">
			<h3>{{ region.name }}</h3>
			<img src="{{ asset('image/region/'~region.slug~'.webp') }}" alt="" loading="lazy">
			<a href="{{ path('search', { latitude: region.latitude, longitude: region.longitude, search_radius: region.radius, region: region.slug }) }}">
				{{ ("region.generic_cta_chalet"|trans }}
				<i class="fas fa-arrow-right"></i>
			</a>
		</div>
	{% endfor %}
</div>
